.project-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
}

.project-small__header {
  background: url(../../assets/images/project.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-small__header__bottom p > img {
  width: 5%;
}

.project-small__image {
  width: 50%;
}

.project-small__content {
  width: 50%;
}