.home__left {
  width: 50%;
}

.home__right {
  width: 50%;
}

.home__right > img {
  width: 60%;
}

.home__right__top .management {
  margin-left: 3rem;
}

.home__right__bottom .programming {
  margin-left: 4rem;
}

.home__right__top > div {
  width: fit-content;
}

.home__right__bottom > div {
  width: fit-content;
}

.home__right__cards {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__companies > img {
  width: 12%;
}

.home__top {
  width: 50%;
}

.feature {
  height: fit-content;
}

.features__cards > .feature__two {
  margin-top: 5rem;
}

.features__cards > .feature__three {
  margin-top: 10rem;
}

.feature > img {
  width: 26%;
}

.project__image {
  flex: 1
}

.project__content {
  flex: 1
}

/* .services .clip {
    clip-path: polygon(40% 10%, 63% 10%, 100% 0, 100% 100%, 70% 100%, 0 100%, 0 0);
} */
